body {
    height: 100vh;
    background-image: linear-gradient(to right,lightpink,#ffff);
}

.newtask {
    display: flex;
    justify-content: space-between;
}
.newinput {
    border-radius: 5px;
    background-color: antiquewhite;
    height: 30px;
}
.addtext {
    background-color: rgb(213, 189, 158);
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.addtext:hover {
    background-color: rgb(45, 54, 51);
    color: #ffff;
    transition: 0.5s;

}


.todolist {
    background-color:#ffff;
    box-sizing: border-box;
    padding: 30px 40px;
    border-radius: 15px;
    max-width: 300px;
    border: 2px solid black;
    display: block;
    align-items: center;
    justify-content: center;
    
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    margin: 10px 0;
    background-color: rgb(152, 172, 171);
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
}
.task :hover {
    background-color: rgb(117, 168, 142) ;
}
i {
    padding: 5px;
    background-color: rgb(93, 93, 88);
    border-radius: 5px;
    color:aliceblue;
}